<%- include('./partials/header.ejs', {user}, {posts}) %>

    <% if(user) {%>
        <div class="field">
            <div class="field is-grouped is-grouped-centered is-grouped-multiline">
                <h1 class="title is-1"> Welcome Back to the Hive, <%= user.user_name %>!</h1>
                <h3 class="subtitle is-3">Remember to Bee Positive!</h3>
            </div>
        </div>

        <% for (const post of posts) { %>
            <div class="card is-small">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="subtitle is-6">
                                Posted By: <%= user.user_name %>
                            </p>
                            <p class="title is-4">
                                Titled: <%= post.title %>
                            </p>
                            <div class="card-image">
                                <figure class="image is-4by3 is-160x160">
                                    <img src="<%= post.content %>" alt="Post image">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        Captioned: <%= post.caption %>
                    </div>
                </div>
            </div>
            <% } %>
                <% } else { %>
                    <div class="field">
                        <div class="field is-grouped is-grouped-centered is-grouped-multiline">
                            <h2>Welcome to Pollen! Please Login or Sign Up If You Don't Have an Account</h2>
                        </div>
                    </div>
                    <% } %>


                        <%- include('./partials/footer.ejs') %>