<%- include('./partials/header.ejs', {localUser}, {posts}) %>

    <% if(user) {%>
        <div class="field">
            <div class="field is-grouped is-grouped-centered">
                <h1 class="title is-1"> Welcome Back to the Hive, <%= localUser.user_name %>!</h1>
            </div>
        </div>
        <div class="field">
            <div class="field is-grouped is-grouped-centered">
                <h3 class="subtitle is-3">Remember to Bee Positive!</h3>
            </div>
        </div>


        <% for (const post of posts) { %>
            <div class="card is-small">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="subtitle is-6">
                                <% if (post.user) { %>
                                    Posted By: <%= post.user.user_name %>
                            </p>
                            <% }%>
                                <p class="title is-4">
                                    Titled: <%= post.title %>
                                </p>
                                <div class="card-image">
                                    <figure class="image is-4by3 is-160x160">
                                        <img src="<%= post.content %>" alt="Post image">
                                    </figure>
                                </div>
                        </div>
                    </div>
                    <div class="content">
                        Captioned: <%= post.caption %>
                    </div>
                    <div class="field">
                        <% if(post.comments) {%>
                            <% post.comments.forEach(comment=> {%>
                                <p class="subtitle">
                                    <%= comment.user.user_name%> said: <%=comment.content%>
                                </p>
                                <% })%>
                                    <%}%>
                    </div>
                    <div class="field">
                        <form action="/" method="POST">
                            <input type="hidden" name="postId" id="postId" value="<%= post.id %>">
                            <div class="field">
                                <label class="label">What's The Buzz?</label>
                                <div class="field">
                                    <textarea class="textarea is-rounded is-warning " name="content" placeholder="~~~"
                                        required></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field is-grouped is-grouped-centered">
                                    <button class="button is-rounded is-warning is-light" type="submit">Buzz
                                        Em!</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <% } %>
                <% } else { %>
                    <div class="field">
                        <div class="field is-grouped is-grouped-centered is-grouped-multiline">
                            <h2>Welcome to Pollen! Please Login or Sign Up If You Don't Have an Account</h2>
                        </div>
                    </div>
                    <% } %>


                        <%- include('./partials/footer.ejs') %>