<%- include('../partials/header', {user}, {posts}) %>
    <div class="field">
        <div class="field is-grouped is-grouped-centered">
            <p class="title is-2">Here is your profile, <%= user.user_name %>.</p>
        </div>
    </div>
    <div class="field">
        <div class="field has-text-centered">
            <ul>
                <strong>
                    About Me:
                </strong>
            </ul>
            <li>
                Name: <%= user.first_name %>
                    <%= user.last_name %>
            </li>

            <li>
                Your Bio: <%=user.bio %>
            </li>
            </ul>
        </div>
        <div class="field is-grouped is-grouped-centered">
            <form action="/users/profile/edit" method="GET">
                <button class="button is-rounded is-warning is-light" type="submit" value="update" id="update">Edit
                    About
                    You</button>
            </form>
        </div>
    </div>
    <div class="field">
        <div class="field has-text-centered">
            <h4><strong>
                    Posts You Have Made:
                </strong>
            </h4>

        </div>
    </div>
    <% for (const post of posts) { %>
        <div class="card is-small">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">
                            You Titled It: <%= post.title %>
                        </p>
                        <div class="card-image">
                            <figure class="image is-10x10">
                                <img src="<%= post.content %>" alt="Post image">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="content">
                    You Captioned It: <%= post.caption %>
                </div>
            </div>
        </div>
        <% } %>


            <div class="field">
                <div class="field is-grouped is-grouped-centered">
                    <form method="POST" action="/users/profile?_method=delete">
                        <button class="button is-small is-warning is-rounded" type="submit" value="delete"
                            id="delete">Delete
                            Account</button>
                    </form>
                </div>
            </div>
            <%- include('../partials/footer') %>